@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    background-color: #F6EFE2;
}

html {
    font-size: 16px;
}

img {
    height: 25rem;
    width: 25rem;
    max-width: 100%;
    border-radius: 50%;
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: #ffd700;
}

ul {
    text-align: justify;
}

li {
    margin: 1.5rem 0;
    line-height: 1.5;
}

.container-1 {
    max-width: 90%;
    margin: 0 auto;
    padding: auto 1.25rem;
}

.container-2 {
    max-width: 80%;
    margin: 0 auto;
    padding: auto 1.5rem;
}


/*HEADER SECTION*/

header {
    min-height: 70vh;
    width: 100%;
    background-color: #110C06;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name,
.desc,
.date {
    color: #F6EFE2;
}

#name {
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.desc {
    font-weight: 300;
    letter-spacing: 2px;
}

hr {
    display: inline-block;
    margin: 0;
    width: 5rem;
    height: 0;
    text-align: center;
    border: 2px #F6EFE2 solid;
    background-color: #F6EFE2;
}

.date {
    display: inline-block;
    font-weight: 400;
}

figcaption {
    color: #F6EFE2;
    opacity: 0.5;
    text-align: center;
}

blockquote {
    width: 70%;
    border-left: 10px solid #110C06;
    margin: 3em auto;
    padding: 0.5em 0.6rem;
    text-align: justify;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.quote-author {
    font-weight: 500;
    text-align: right;
    margin-right: 11rem;
    margin-top: -3rem;
}


/*TIMELINE SECTION*/

#tLine {
    background-color: #110C06;
    border: 2px #110C06 solid;
}

h4 {
    display: inline-block;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.link {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}


/*FOOTER SECTION*/

footer {
    height: 5rem;
    background-color: #110C06;
}

footer .text-box {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .text-box p {
    color: #F6EFE2;
    font-weight: 300;
}


/*MEDIA QUERIES*/

@media(max-width: 1175px) {
    .container-1 .text-box {
        margin-top: 5rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    .row {
        flex-direction: column;
    }
    #name {
        font-size: 2rem;
        padding-top: .6rem;
    }
    .desc {
        padding: 0 2rem;
    }
    blockquote {
        width: 90%;
    }
    .quote-author {
        margin-right: 4rem;
    }
}

@media(max-width: 848px) {
    footer .text-box {
        flex-direction: column;
        padding: 1rem 0;
    }
    .quote-author {
        margin-right: 3rem;
    }
}

@media(max-width: 600px) {
    .desc {
        font-size: 1.1rem;
    }
    #name {
        font-size: 1.7rem;
    }
    blockquote {
        width: 95%;
    }
    .quote-author {
        margin-right: 1rem;
    }
}